# ---- Build ----
build/
cmake-build-*/
out/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# ---- IDE ----
.idea/
.vs/
*.user

# ---- Binaries ----
*.exe
*.dll
*.obj
*.o
*.pdb
*.ilk
*.lib
*.exp

# ---- Local runtime data ----
settings.txt
config/
media/
zalejnost/
*.log
